* {
  padding: 0;
  margin: 0;
  font-family: SFProDisplayRegular, SFProDisplayLight, SFProTextSemiBold,
    SFProTextRegular, SFProTextMedium, SFProDisplayMedium, -apple-system, Ubuntu,
    system-ui, Arial, Helvetica, sans-serif;
  color: #e4e7f2;
  // background-color: inherit;
}